<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwm.seckill.mapper.SkOrderMapper">
  <resultMap id="BaseResultMap" type="com.liwm.seckill.model.SkOrder">
    <!--@mbg.generated-->
    <!--@Table sk_order-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="order_num" jdbcType="VARCHAR" property="orderNum" />
    <result column="product_id" jdbcType="VARCHAR" property="productId" />
    <result column="user_id" jdbcType="VARCHAR" property="userId" />
    <result column="quantity" jdbcType="INTEGER" property="quantity" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, order_num, product_id, user_id, quantity
  </sql>
</mapper>