<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwm.sk.auth.mapper.BaseResourceMapper">
  <resultMap id="BaseResultMap" type="com.liwm.sk.auth.model.BaseResource">
    <!--@mbg.generated-->
    <!--@Table base_resource-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="application_id" jdbcType="BIGINT" property="applicationId" />
    <result column="code" jdbcType="VARCHAR" property="code" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="resource_type" jdbcType="VARCHAR" property="resourceType" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="describe" jdbcType="VARCHAR" property="describe" />
    <result column="state" jdbcType="INTEGER" property="state" />
    <result column="sort_value" jdbcType="INTEGER" property="sortValue" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, application_id, code, `name`, resource_type, parent_id, `describe`, `state`, 
    sort_value, created_by, created_time, updated_by, updated_time
  </sql>

  <select id="listAllResourceApi" resultType="com.liwm.sk.auth.vo.ResourcesVo">
    select
      c.uri,c.request_method,a.`code`
    from base_resource a,base_resource_api b,base_api c
    where a.id=b.resource_id and b.api_id=c.id
  </select>
</mapper>