<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwm.sk.auth.mapper.BaseOrgMapper">
  <resultMap id="BaseResultMap" type="com.liwm.sk.auth.model.BaseOrg">
    <!--@mbg.generated-->
    <!--@Table base_org-->
    <id column="id" jdbcType="BIGINT" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="type" jdbcType="CHAR" property="type" />
    <result column="short_name" jdbcType="VARCHAR" property="shortName" />
    <result column="parent_id" jdbcType="BIGINT" property="parentId" />
    <result column="tree_grade" jdbcType="INTEGER" property="treeGrade" />
    <result column="tree_path" jdbcType="VARCHAR" property="treePath" />
    <result column="sort_value" jdbcType="INTEGER" property="sortValue" />
    <result column="state" jdbcType="BIT" property="state" />
    <result column="remarks" jdbcType="VARCHAR" property="remarks" />
    <result column="created_time" jdbcType="TIMESTAMP" property="createdTime" />
    <result column="created_by" jdbcType="BIGINT" property="createdBy" />
    <result column="updated_time" jdbcType="TIMESTAMP" property="updatedTime" />
    <result column="updated_by" jdbcType="BIGINT" property="updatedBy" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, `type`, short_name, parent_id, tree_grade, tree_path, sort_value, `state`, 
    remarks, created_time, created_by, updated_time, updated_by
  </sql>
</mapper>