<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.liwm.sk.account.mapper.SkAccountMapper">
  <resultMap id="BaseResultMap" type="com.liwm.sk.account.model.SkAccount">
    <!--@mbg.generated-->
    <!--@Table sk_account-->
    <id column="id" jdbcType="INTEGER" property="id" />
    <result column="name" jdbcType="VARCHAR" property="name" />
    <result column="money" jdbcType="DECIMAL" property="money" />
  </resultMap>
  <sql id="Base_Column_List">
    <!--@mbg.generated-->
    id, `name`, money
  </sql>

  <select id="getBalance" resultType="java.lang.Integer">
    select money from sk_account where id=#{userId}
    </select>

  <update id="reduceBalance">
    UPDATE account SET money = money - #{price} WHERE id = #{userId} AND money >= ${price}
  </update>
</mapper>